nav.navSite
    div
    ul  
        li
            a(href="/") Home
        li
            a(href="/creation") Créer un compte
    div.userCo
        if(pseudoUser)
            span#PseudoUser= pseudoUser
        