extends _layout.pug

block content
    include -nav.pug
    if !userCo
        h2 Connexion
            p= messageCrea
            p= messageConnexion
            form(action="http://localhost:8090/connexion" method="POST")
                label Pseudo
                input(type="text" name="pseudo")
                label Mot de passe
                input(type="password" name="mdp")
                button(type="submit") Connexion
    
    if userCo
        p= messageConnexion
        div.rulesGame
            h2 régle du jeu

        div.chat
            #future
            form#formChat
                input#chat_input(type='text' autocomplete="off")
                input(type='submit', value='Send')

        div.listUserConnected
            h2 Joueurs Connectés
            #playerCo
    
    script(src='/node/jquery/dist/jquery.js')
    
    script(src="/socket.io/socket.io.js")

    script.
        $(function() {
            var socket = io.connect();
            
            socket.on('listUser', function(data){
                console.log("j'ecoute");
                console.log(data); 
                var element = document.getElementById("playerCo");
                while (element.firstChild) {
                    element.removeChild(element.firstChild);
                } 
                for(i=0; i<data.length; i++){
                    console.log(data[i]);
                    $('#playerCo').append("<div><span>" + data[i].name + "</span><span><button id="+data[i]+">Batle</button></span></div>"); 
                }
            }); 

            socket.on('playerCo', function(data){
                console.log(data); 
               
            })

            socket.on('broad', function(data) {
                var dateMessage = new Date(data.time).toLocaleTimeString('fr-FR');
                $('#future').append("<div><span>" + data.pseudoUser + "</span><span>" + dateMessage + "</span><br/><p>" + data.message + "</p></div>");
            });
            $('#formChat').submit(function(e){
                e.preventDefault();
                console.log(e);
                //var pseudoUser = $('#PseudoUser').text(); 
                //var message = $('#chat_input').val();
                var objectMessage ={
                    pseudoUser : $('#PseudoUser').text(),
                    message : $('#chat_input').val(),
                    time : Date.now()
                }
                if(!objectMessage.message == ''){
                    socket.emit('messages', objectMessage);
                    $('#chat_input').val('');
                    console.log(pseudoUser);   
                }
            });

            $("#matchmaking").on('click', function(e){
                var socketRoom = io.connect('/my-namespace');
                socket.on('hi',function(data) {
                    document.body.innerHTML = '';
                    document.write(data);
                }); 
            });


            
            
        }); 


