extends _layout.pug

block content
    include -nav.pug
    
    div.rulesGame
        h2 régle du jeu
        
    div.btnStartGame
        button(type="button") Matchmaking
    div.listUserConnected
        h2 Joueurs Connectés
        div

    script(src="/js/.js")