.navSite{
    height:35px;
    width: 100%; 
    background-color: brown; 
    display: flex; 
    flex-flow: row nowrap; 
    justify-content: space-between; 
    align-items: center; 

    ul{
        width: 33%; 
        display: flex; 
        flex-flow: row nowrap; 
        justify-content: center; 
        align-items: center; 

        li{
            margin: 0 5px;
            a{
                color:white; 
                font-size: 1.2em; 
                font-weight: bold; 
            }
            
            &:hover{
                a{
                    color:black; 
                }
            }
        }
    }

    .userCo{
        span{
            color: white; 
            font-size: 1.2em; 
            font-weight: bold; 
            margin-right: 25px; 

            &:after{
                content:''; 
                position: absolute;
                top:14px;  
                right: 10px;
                height: 10px; 
                width: 10px; 
                border-radius: 50%; 
                background-color: green; 
            }
        }
    }
}

.chat{
    position: absolute; 
    height: calc(100% - 35px); 
    top: 35px; 
    right: 0px;
    background-color: rgba(0, 0, 0, .2);
    border-left: 1px solid rgba(0, 0, 0, .3);
    
    display: flex; 
    flex-flow: column nowrap; 
    justify-content: flex-end; 
}